---
layout: default
---

{%- if page.categories.size > 0 -%}
    <a href="/{{ page.categories[0] }}/">
        << Go back to {{ page.categories[0] | capitalize }}
    </a> <!-- Link to the first category's page -->
    <br><br><br>
{%- endif -%}

<!-- Main content rendered here -->
<!-- Main content rendered here with Enter symbol -->
{{ content }}

<!-- Terminal-style output at the bottom -->
<div class="terminal-output-end-container">
    <pre class="terminal-output-end">
>>> process completed successfully
<strong>EOF</strong> &nbsp;
<small><i>this is the end of content...</i></small>
    </pre>
</div>


<div class="giscus-terminal">
    <script src="https://giscus.app/client.js"
      data-repo="wwquen3568/wwquen3568.github.io"
      data-repo-id="R_kgDOM1BvgQ"
      data-category="Announcements"
      data-category-id="DIC_kwDOM1Bvgc4CireJ"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="custom"
      data-theme-url="https://wwquen3568.github.io/assets/giscuss-terminal-theme.css"
      data-lang="ko"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
  </div>
  
  